body {
	margin: 0;
	animation: rattle 1s infinite;
  	animation-delay: 2s;
}
.slam
{
  animation: slam 2s;
  animation-timing-function: ease-in-out;  
  font-weight: 900;
  position: relative;  
  
}

@keyframes slam
{
  0%
  {
  	
    transform: scale(10, 10);
    opacity: 0;
  }
  
  40%
  {
    opacity: 0;
  }
  
  100%
  {
    transform: scale(10, 10);
    opacity: 0;
  }
}
.slam1
{
  
  animation: slam1 1.5s;
  animation-timing-function: ease-in-out;  
  font-weight: 900;
  position: relative;  
  
}

@keyframes slam1
{
  0%
  {
  	margin-top: -5px; margin-left: 0;
    transform: scale(10, 10);
    opacity: 0;
  }
  
  40%
  {
    opacity: 0;
  }
  
  100%
  {
    transform: scale(10, 10);
    opacity: 0;
  }
}
.slam2
{
  
  animation: slam2 1s;
  animation-timing-function: ease-in-out;  
  font-weight: 900;
  position: relative;  
  
}

@keyframes slam2
{
  0%
  {
  	margin-top: -5px; margin-left: 0;
    transform: scale(10, 10);
    opacity: 0;
  }
  
  40%
  {
  	margin-top: 0px; margin-left: -5;
    opacity: 0;
  }
  
  100%
  {
  	margin-top: -5px; margin-left: 0;
    transform: scale(10, 10);
    opacity: 0;
  }
}
.slam3
{
  animation: slam3 1.5s;
  animation-timing-function: ease-in;  
  font-weight: 900;
  position: relative;  
  
}

@keyframes slam3
{
  0%
  {
  	margin-top: 0; margin-left: 0;
    transform: scale(10, 10);
    opacity: 10;
  }
  
  40%
  {
  	margin-top: 0; margin-left: 10px;
    opacity: 0;
  }
 
  
  100%
  {
    transform: scale(10, 10);
    opacity: 0;
  }
}

@keyframes rattle
{
  0% { margin-top: 0; margin-left: 0; }
  10% { margin-top: -5px; margin-left: 0; }
  20% { margin-top: 0; margin-left: -5px; }
  30% { margin-top: 5px; margin-left: 0; }
  40% { margin-top: 0; margin-left: 5px; }
  50% { margin-top: -2px; margin-left: 0; }
  60% { margin-top: 0; margin-left: -2px; }
  70% { margin-top: 2px; margin-left: 0; }
  80% { margin-top: 0; margin-left: 2px; }
  90% { margin-top: -1px; margin-left: 0; }
  100% { margin-top: 0; margin-left: 0; }
}
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');


button{
background-color:white;
border-radius: 25px;
font-family: 'Scada', sans-serif;
padding: 3px;

}

.footer{
padding: 10px;
background-color:gray;
color: white;
width: 315px;
border-radius: 5px;
font-family: 'Scada', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
.welcome{
background-color: #abcdef;
border-radius: 500px;
font-family: 'Julius Sans One', sans-serif;
color: maroon;
padding: 10px;
}
button{
background-color:white;
border-radius: 15px;
padding: 3px;
}
.footer{
background-color:gray;
color: white;
width: 315px;
border-radius: 5px;
font-family: 'Scada', sans-serif;
padding: 10px;
}
.Legend{
background-color: white;
border-radius: 200px;
height: 400px;

}

